<!DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
    <link rel="stylesheet" type="text/css" href="css/bt.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <script type="text/javascript" src="js/ang.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <div class="container col-sm-3 col-sm-offset-4 main-pnl">
    <div class="d">
        <button type="button" class="btn btn-info" ng-click="node.move($event, '0')">1</button>
        <button type="button" class="btn btn-info" ng-click="node.move($event, '1')">2</button>
        <button type="button" class="btn btn-info" ng-click="node.move($event, '2')">3</button>
        <button type="button" class="btn btn-info" ng-click="node.move($event, '3')">4</button>
        <button type="button" class="btn btn-info" ng-click="node.move($event, '4')">5</button>
        <button type="button" class="btn btn-info" ng-click="node.move($event, '5')">6</button>
        <button type="button" class="btn btn-info" ng-click="node.move($event, '6')">7</button>
        <button type="button" class="btn btn-info" ng-click="node.move($event, '7')">8</button>
    </div>
    </div>
</body>
</html>


<!-- <!DOCTYPE html>
<html ng-app="">
<head>
<script type="text/javascript" src="js/ang.js"></script>
<style type="text/css">
    .btn{
        position: fixed;
        -webkit-transition: 0.5s
    }
</style>
</head>
<!- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
<!-- <body >

<div >
  <button class="btn" ng-style="{'color': color, top: size+'px', 'font-weight': 'bold'}">hi this is a test</button>
  <br>
  <button class="btn">xxxxxxxxxxx</button>
</div>

<input ng-model="color" />
<button ng-click="size = size + 50">+</button>
<button ng-click="size = size - 50">-</button>
<h1>{{size}}</h1>

</body>
</html> -->